<div class="container" style="padding-top: 15rem;">
    <div class="row" style="margin-right:6rem; margin-left:6rem;">
        <div class="col-md-9">
            <div class="h1" style="margin:0; margin-bottom: 1rem;">
                Upload Sales
            </div>
            <div class="mb-0 text-muted">
                Upload your daily sales as CSV file
            </div>
        </div>
        <div class="col-md-3" style="margin-top: 1rem;">
            <button mat-raised-button color="primary" (click)="uploadSales()">Upload CSV</button>
        </div>
    </div>
</div>